// Colors
$color-primary: #3CC47E !default;

$color-black-dark: #111111;
$color-black: #323232;
$color-black-medium: #383c3f;
$color-gray: #666;
$color-gray-light: #e7e7e7;
$color-gray-lighter: #f3f2f1;
$color-gray-lightest: #fbfbfb;

// Widths
$width-page: 1200px;

// Responsive breakpoints
$mobile: 34em;
$tablet: 48em;
$desktop: 62em;
$largedesktop: 78em;

// Brand colors
$color-facebook: #365397;
$color-twitter: #00a9f1;
$color-google: #525252;
$color-youtube: #ff3333;
$color-vimeo: #48b6ed;
$color-pinterest: #ce1a19;
$color-dribbble: #ed4584;
$color-skype: #00acf4;
$color-instagram: #396d9a;
$color-tumblr: #304c68;
$color-linkedin: #287bbc;
$color-tripadvisor: #589442;
$color-foursquare: #F84777;